body{
	margin:0;
	padding:0;
}
.scad_conImgPersonajeInfo
{
	height:100%;
	width:100%;
}
.scad_confPadrePassw{
	width: 100%;
    height: 100%;
    position: absolute;
    background: black;
}
.scad_confPanelPrinInfo{
	width: 100%;
    height: 100%;
    position: absolute;
   /* top: 1.5%;
    left: 1.5%;*/
}
.scad_contElemInfo{
	width: 40%;
    height: 85%;
    position: absolute;
    top: 5%;
    left: 5%;
    background: #AAAAAAE8;
 
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center; 
	border: white 2px solid;
	border-radius: 7px; 
	color:white ;
}



@media only screen and ( max-width: 600px ) {
.scad_contElemInfo{	
	 
	width:80%;
	left: 10%;
}
}

.scad_conTitleInfo{
	width: 100%;
    height: 10%;
  float: left; 
	background:#55555588   ;
	 text-align: center;
}
.scad_conTitleInfo h3
{
	font-size: 25px;
    color: black;
    margin-top: 3%;
}
 
.scad_confPaswUs input{
	width:100%;
	height:80%;
	
	border-radius: 5px;
    border: none;
	background: #b9b6b6;
}
.scad_conTableInfo{
	width: 100%;
    height:90%;
	float: left; 
	text-align: center;
}

.scad_conCam
{
	border: solid 2px black;
    width: 98%;
    height: 45%;
    float: left;
    //text-align: center;
    border-radius: 10px;
}

.scad_conCam video
{
	object-fit:fill;
	border-radius: 10px;
}
.scad_confPaswForm{
 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.scad_confPaswTxtB
{
	margin-top: 2%;
    width: 75%;
    height: 12%;
    text-align: center;
    margin-left: 12%;
}
.scad_confPaswTxtB input{
	width:100%;
	height:80%;
	border-radius: 5px;
    border: none;
	background: #ffffff;
    box-shadow: 0px 0px 3px 1px #787777;
}
.scad_confPaswTxtB input:hover{
	box-shadow: 0 0 10px 0 rgba(255,255,255,.3);
	border: 1px solid white;
} 

.scad_confPaswBtn:hover{
	box-shadow: 0 0 10px 0 rgba(255,255,255,.3);
	border: 1px solid white;
	cursor:pointer;
}

